.body{    
    margin:0;
    padding: 0;
    overflow-x: hidden;
}

.calculator{
    background-color:#2B2533;
    margin: 0 35% 0 35%;
    height: 97vh;
    border-radius: 25px;
    
}

.top{
    height: 10vh;
    padding: 0px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}

.top button{
    background: transparent;
    border: 0px none;
    font-size: 10px;
    color: #DBD9DA;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;

}

.input{
    height: 27vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.input input{
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: #DBD9DA;
    height:20vh;
    width:25vw;
    border:0px none;
}


.buttons{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    border-radius: 25px 25px 15px 15px;
    background: rgb(85,67,105);
    background: linear-gradient(185deg, rgba(85,67,105,1) 0%, rgba(50,41,62,1) 100%);
    
}

.line{  
    margin:-2px 10px;
    margin-top:-5px;
    padding: 0px;
    width:60px;
    height:4px;
    border-radius: 5px;
    background: #FFC000;
}

.row1,.row2,.row3,.row4,.row5{
    height: 10vh;
    width:35vw;
    margin:2px;
    display: flex;
    justify-content: center;
    align-items:center;


}

.digit{
    height: 10vh;
    width:10vh;
    padding: 5px;
    margin: 5px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 800;
    border: 0px none;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    color: #DBD9DA;
}

.operator{
    height: 9vh;
    width:5vw;
    padding: 5px;
    margin: 5px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 800;
    border: 0px none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #9C84BE;
    color: #DBD9DA;

}
.assign{
    height: 10vh;
    width:10vh;
    padding: 5px;
    margin: 5px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 800;
    border: 0px none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #784C6D;
    color: #DBD9DA;

}
span{
    color: #FFC000;
}
